<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    define property-->
    <property name="LOGS" value="./logs"/>
    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <!--    console output-->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level)[%red(%X{requestId})][%blue(%t)] %yellow(%C{1.}):
                %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <!--    log file -->
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/application.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <callerData/>
                <stackTrace/>
                <context/>
                <mdc/>
                <tags/>
                <logstashMarkers/>
                <arguments/>
                <pattern>
                    <pattern>
                        {
                        "json_message": "#asJson{%message}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/application-%d{yyyy-MM-dd}.%i.zip
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="com.github.dekaulitz.mockyup" level="info" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>
</configuration>
