.accordion-flush{
  .accordion-button{
    padding: $list-group-item-padding-y $list-group-item-padding-x;
  }
  .not-collapsed{
    &::after{
      background-image:none;
    }
    &:hover {
      color: $accordion-button-active-color;
      background-color: $accordion-button-active-bg;
      z-index: 3;
      border-color: $accordion-button-focus-border-color;
      outline: 0;
      box-shadow: $accordion-button-focus-box-shadow;
    }
  }
}
