.card {
  border-radius: 0.5rem;
  .card-body {
    padding: 0.5rem;
  }
}

.project-card:hover {
  cursor: pointer;
  @extend .shadow;
  -webkit-transition-duration: 0.218s;
  transition-duration: 0.218s;
  -webkit-transition-property: background,border,opacity,-webkit-box-shadow,-webkit-transform;
  transition-property: background,border,opacity,box-shadow,transform;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

