.form-control {
  border-radius: 4px;
  padding: 6px 10px
}

.form-control.input-short {
  width: 200px
}

.form-control::placeholder {
  color: #868686
}

@media (min-width: 768px) {
  .form-control.input-short {
    width: 280px
  }
}
