<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mockup-frontend</title>
    <link as="script" href="/mocks/static/dist/build.js" rel="preload">
    <link as="style" href="/mocks/static/dist/swagger/css/swagger-ui.css" rel="stylesheet">
    <link as="script" href="/mocks/static/dist/swagger/js/swagger-ui-bundle.js" rel="preload">
    <link as="script" href="/mocks/static/dist/swagger/js/swagger-ui-standalone-preset.js" rel="preload">
</head>
<body>
<div id="app"></div>
<script defer src="/mocks/static/dist/swagger/js/swagger-ui-bundle.js"></script>
<script defer src="/mocks/static/dist/swagger/js/swagger-ui-standalone-preset.js"></script>
<script>
    const HOST_API = "/";
    const TIME_OUT = 5000;
</script>
<script defer src="/mocks/static/dist/build.js"></script>
</body>
</html>
