.page-container {
  .page-title{
    line-height: 1.3;
    font-size: 1.75em;
  }
  .page-controller{

  }
  .page-body{

  }
}

.holder{
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
