.start-25 {
  left: 25% !important;
}

.holder{
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
.page-container {
  min-height: 650px;
  h1{
    &.page-title{
      font-size: 1.4375rem;
      line-height: 1.3;
    }
  }
  .additional-info{
    line-height: 1rem;
    font-size: 0.875rem;
  }

  .page-subtitle{
    margin: 1rem 0;
    line-height: 1.3;
    font-size: 1.25em;
    font-weight: 600
  }
  .page-controller{
  }
  .page-body{

  }
}


.project-card {
  .project-card-description {
    width: 50%;
  }
}
